<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>578946779015-idm9v7ag4hs714mfhsn7gb3m8a2kibrb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU2bGhhND4n9pVjdPL90VBD4p4puuDIrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>578946779015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GJProperties</string>
	<key>PROJECT_ID</key>
	<string>gj-properties</string>
	<key>STORAGE_BUCKET</key>
	<string>gj-properties.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578946779015:ios:f4c7da80cdc72ab5937522</string>
</dict>
</plist>